{# templates/marquepage/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Liste des marque-pages</title>
    <style>
        table { border-collapse: collapse; width: 60%; margin: auto; }
        th, td { border: 1px solid #aaa; padding: 8px; text-align: center; }
        th { background-color: #a8c4e0; }
        h1 { text-align: center; color: green; font-style: italic; }
    </style>
</head>
<body>
    <h1>Liste complète des marque-pages</h1>
    <table>
        <tr>
            <th>Url</th>
            <th>Date de création</th>
            <th>Commentaire</th>
        </tr>
        {% for marquepage in marquepages %}
        <tr>
            <td><a href="{{ marquepage.url }}" class="url-link" target="_blank">
                        {{ marquepage.url|replace({'https://': '', 'http://': ''}) }}
                    </a></td>
            <td>{{ marquepage.dateCreation|date('d/m/Y') }}</td>
            <td>{{ marquepage.commentaire }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>